<div class="container">
    <h1 class="name">Abhijit Chikane</h1>
    <p class="contact-info">Pune, India 412308 | 9561734827 | <a href="mailto:abhijeetchikane616&#64;gmail.com">abhijeetchikane616&#64;gmail.com</a> | <a
           href="https://www.linkedin.com/in/abhijit-chikane/">LinkedIn</a> | <a href="https://www.npmjs.com/package/ngx-mentions?activeTab=readme">npm</a></p>

    <details open>
        <summary class="section-title">SUMMARY</summary>
        <p class="summary">
            Results-driven Angular developer with five years of hands-on experience in crafting dynamic web applications. Proficient in leveraging Angular framework to deliver robust, scalable, and user-friendly solutions. Skilled in all aspects of the Angular ecosystem, from architecture design to implementation and optimization. Proven track record of collaborating with cross-functional teams to meet project goals and deadlines. Passionate about staying abreast of emerging technologies and applying best practices to drive innovation and efficiency.
        </p>
    </details>

    <details open>
        <summary class="section-title">EXPERIENCE</summary>
        <details open>
            <summary class="job-title">Sr. Software Engineer | Varian Medical Systems | March 2022 - Present</summary>
            <ul class="job-details">
                <li>Played a key role in making complex technical and design decisions for Angular projects, ensuring scalability, maintainability, and performance.</li>
                <li>Designed and implemented visually aesthetic user interfaces.</li>
                <li>Translated UI/UX designs into high-quality code to enhance user experience.</li>
                <li>Identified issues with front end code and rectified them to remove bugs.</li>
                <li>Implemented best practices for performance optimization and code quality.</li>
                <li>Created unit tests to ensure code is functioning as expected.</li>
                <li>Audited code to identify bottlenecks of performance and fixed them.</li>
                <li>Collaborated with cross-functional teams to develop and maintain Angular-based web applications.</li>
                <li>Participated in code reviews and provided constructive feedback to team members.</li>
            </ul>
        </details>

        <details open>
            <summary class="job-title">Software Engineer | Yugstart Technologies Pvt. Ltd. | July 2020 - March 2022</summary>
            <ul class="job-details">
                <li>Designing and developing user interfaces using Angular best practices</li>
                <li>Developing product analysis tasks</li>
                <li>Making complex technical and design decisions for Angular projects</li>
                <li>Proficient in CSS, HTML, and writing cross-browser compatible code</li>
                <li>Ensuring high performance of applications and providing support</li>
                <li>Modified customer service support system to reduce complaints by 20%</li>
                <li>Awarded with Spot Award for leading the Leave Module Development</li>
            </ul>
        </details>

        <details open>
            <summary class="job-title">Jr. Software Engineer | Angular Minds Pvt. Ltd. | April 2019 - July 2020</summary>
            <ul class="job-details">
                <li>Worked with CSS3 and Bootstrap to create responsive web designs for multiple departments/pages</li>
                <li>Working knowledge of front-end optimization and performance techniques</li>
                <li>Worked on the REST/Web API to create the services and tested on postman and used in Angular</li>
                <li>Took an active role in structuring our single-page applications to make them easy to maintain and to ensure they are highly modularized</li>
            </ul>
        </details>
    </details>

    <details open>
        <summary class="section-title">EDUCATION AND TRAINING</summary>
        <p class="education-item">Bachelor of Engineering | Sinhgad Institute of Tech. & Science, Pune | May 2018</p>
        <p class="education-item">12th | Vidya Pratishthan's ASC College, Baramati</p>
    </details>

    <details open>
        <summary class="section-title">SKILLS</summary>
        <ul class="skills">
            <li>Angular 2+, Angular Material Design, PrimeNG, Bootstrap, Node.js</li>
            <li>Languages: Javascript, Typescript, HTML5, CSS3</li>
            <li>Editor: Visual Studio Code</li>
            <li>Version control systems: Github and Bitbucket</li>
        </ul>
    </details>

    <details open>
        <summary class="section-title">PERSONAL INFORMATION</summary>
        <p class="personal-info">Date of Birth: 07/31/96</p>
        <p class="personal-info">Marital Status: Single</p>
    </details>

    <details open>
        <summary class="section-title">ACTIVITIES AND HONORS</summary>
        <p class="activities">Developed and published ngx-mentions an Angular library for
            implementing mention functionality, allowing seamless integration of mention features in web applications.
            </p>
    </details>
</div>